:root{
    --Cor-Detalhes: #9da8fd;
    /* --Cor-Detalhes2: #4660fc; */
    --Cor-Detalhes2: #4f5dfe;
}

.Container{
    background-image: url('../IMGs/img_2.jpg');

    .Div-LE{
        height: 70%;
        width: 50%;
        background-color: white;
        border-radius: 22px 0px 0px 22px;
        
        .Slideshow{
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 22px 0px 0px 22px;

            img{
                width: 100%;
                height: 100%;
                transition: opacity 0.5s ease;
            }
        }
    }

    .Div-LD{
        height: 70%;
        padding: 40px;
        width: 28%;
        background-color: white;
        display: grid;
        grid-template-rows: 2fr 6fr 1fr;
        border-radius: 0px 22px 22px 0px;

        header{

            h2{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 700;
                font-size: 1.6rem;
                color: var(--Cor-Detalhes2);
            }
        }

        .Div-Body{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: 4fr 2fr 4fr;

            div:nth-child(1){
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                width: 100%;

                /* .Box-Entrada{
                    width: 100%;
                    background-color: white;
                    border: 2.5px solid var(--Cor-Detalhes);
                    border-radius: 6px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    padding: 6px 6px 4px 12px;
                    margin-bottom: 8px;
                    transition: border-left 0.4s ease;

                    label{
                        font-size: 0.8rem;
                        font-weight: 500;
                        color: var(--Cor-Detalhes2);
                    }

                    input{
                        background-color: transparent;
                        padding: 2px 6px;
                        font-size: 0.8rem;
                    }
                    
                    input::placeholder{
                        font-size: 0.7rem;
                        font-weight: 500;
                        color: var(--Cor-Detalhes);
                    }

                    input:hover{
                        cursor: pointer;
                    }
                }

                .Box-Entrada:hover{
                    border-left: 10px solid var(--Cor-Detalhes2);
                } */
            }
            .Box-Esqueceu{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: start;
                justify-content: end;

                a{
                    text-align: right;

                    p{
                        font-size: 0.85rem;
                        font-weight: 600;
                        color: var(--Cor-Detalhes);
                        transition: all 0.5s ease;
                        transform: scale(0.97);
                        opacity: 0.9;
                        letter-spacing: 1.4px;
                    }

                    p:hover{
                        transform: scale(1);
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }
            .Box-Buttons{
                
                button{
                    border: 3px solid var(--Cor-Detalhes2);
                    border-radius: 8px;
                    font-size: 0.8rem;
                    font-weight: 700;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    transition: transform 0.4s ease, opacity 0.3s ease;
                    opacity: 0.8;

                    a{
                        letter-spacing: 1.4px;
                    }
                }
                
                button:nth-child(1){
                    padding: 6px 20px;
                    background-color: var(--Cor-Detalhes2);
                    
                    a{
                        color: white;
                    }
                }
                
                button:nth-child(2){
                    padding: 6px 16px;
                    background-color: white;
                    
                    a{
                        color: var(--Cor-Detalhes2);
                    }
                }

                button:hover, a:hover{
                    transform: scale(1.05);
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }

        footer{
            background-color: transparent;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 12px;

            div:nth-child(1){
                padding: 4px;
                
                p{
                    color: var(--Cor-Detalhes);
                    font-weight: 700;
                }
            }
            
            div:nth-child(2){
                padding: 4px;
                width: 36%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                a{
                    background-color: transparent;
                    
                    i{
                        font-size: 1.2rem;
                        transition: transform 0.4s ease;
                    }

                    i:hover{
                        transform: scale(1.06);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}