html,
body {
    overflow: hidden;
}

body {
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* estado inicial invisível (entrada) */
body.preload {
    opacity: 0;
    transform: translateX(50px);
}

/* estado carregado (aparece suavemente) */
body.loaded {
    opacity: 1;
    transform: translateX(0);
}

/* estado de saída (desaparece suavemente) */
body.fade-out {
    opacity: 0;
    transform: translateX(-50px);
}



.Container {
    background-image: url('../IMGs/img_3.jpg');

    .Div-Form {
        width: 28%;
        height: auto;
        padding: 22px;
        background-color: dodgerblue;
        border-radius: 12px;

        form {
            width: 100%;
            height: 100%;
            overflow: hidden;

            fieldset {
                width: 100%;
                height: auto;
                border: 3px solid var(--Cor-Detalhes3);
                padding: 16px;

                legend {
                    border: 1px solid var(--Cor-Detalhes3);
                    padding: 12px;
                    text-align: center;
                    background-color: white;
                    border-radius: 8px;
                    color: var(--Cor-Detalhes);

                    h2 {}
                }

                /* .Box-Entrada {
width: 100%;
background-color: white;
border: 2.5px solid var(--Cor-Detalhes);
border-radius: 6px;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
padding: 6px 6px 4px 12px;
margin-bottom: 8px;
transition: border-left 0.4s ease;

label {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--Cor-Detalhes2);
}

input {
    background-color: transparent;
    padding: 2px 6px;
    font-size: 0.8rem;
}

input::placeholder {
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--Cor-Detalhes);
}

input:hover {
    cursor: pointer;
}
}

.Box-Entrada:hover {
border-left: 10px solid var(--Cor-Detalhes2);
} */

                /* Selecionando o input de data */
                .Box-Entrada input[type="date"] {
                    color: var(--Cor-Detalhes);
                }

                /* Estilizar ícones internos (setinhas e calendário) - Chrome, Safari, Edge */
                input[type="date"]::-webkit-calendar-picker-indicator {
                    background-color: transparent;
                    /* Para deixar Registrado */
                }

                .Box-Entrada .Box-Select {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    gap: 22px;
                }

                /* Botões */
                .Box-Buttons {

                    button {

                        a:hover {
                            transform: scale(1.05);
                            opacity: 0.97;
                            cursor: pointer;
                        }
                    }

                    button:nth-child(1) {
                        color: white;
                    }

                    button:nth-child(2) {

                        a {
                            color: var(--Cor-Detalhes2);
                        }
                    }
                }
            }
        }
    }
}